
.card-body{
    border: 1px solid #1e281e;
}


.form-control.btn{
    background-color: #1e281e
}

.form-control.btn-danger.btn{
    background-color: #c81e32
}

.table {
    margin-bottom: 0px;
}

.table td,th 
{
    text-align: center;   
}  
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th 
{
    background-color: #CECECE;
}